@import "./colors.scss";

body {
    background-image: url(../assets/sketches-bg.png);
    background-position: top 45px center;
    background-repeat: no-repeat;
    background-size: clamp(400px, 95vw, 900px);
    text-align: center;

    #select-menus {
        width: fit-content;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 15px;
        margin: 40px auto 45px;

        label {
            color: $medium-accent;
            font-family: "Cinzel Decorative", Arial, Helvetica, sans-serif;
            font-size: 16px;
            position: relative;

            &::after {
                content: "▼";
                font-size: 14px;
                position: absolute;
                right: 0;
                top: 2px;
            }

            &:hover {
                &::after {
                    color: $dark-accent;
                }
            }

            select {
                width: 220px;
                appearance: none;
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid $medium-accent;
                color: $dark-accent;
                font-family: "General Sans", Arial, Helvetica, sans-serif;
                font-size: 18px;
            }
        }
    }

    #display {
        margin-bottom: 30px;

        a {
            color: $dark-accent;
            font-family: "Cinzel Decorative", Arial, Helvetica, sans-serif;
            font-size: 18px;
            text-decoration: none;

            &:hover {
                color: #222;
            }
        }

        hr {
            width: 100px;
            background-color: $light-accent;
            color: $light-accent;
            margin: 10px auto 13px;
        }
    }
}
