.small-header,
.subscribe {
  max-width: 800px;
  box-sizing: border-box;
  margin: auto;
}

.small-header-container {
  background-image: url("../assets/ocean-gliderport-background.jpg");
  background-position: bottom center;
  background-size: cover;
  position: relative;
  z-index: 555;
}
.small-header-container::before {
  content: "";
  background-color: rgba(128, 147, 177, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.small-header-container .small-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}
.small-header-container .small-header h1,
.small-header-container .small-header h2 {
  margin: 0;
}
.small-header-container .small-header h1 a {
  color: #fff;
  padding: 0;
  text-decoration: none;
}
.small-header-container .small-header h2 {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(105, 138, 199);
  color: #edf6ff;
  font-weight: 400;
}
.small-header-container .small-header .search-form {
  margin: 0;
}
.small-header-container .small-header .search-form.searching {
  margin-top: 0;
}

.subscribe-container {
  background-color: rgb(128, 147, 177);
  position: sticky;
  top: 0;
  z-index: 999;
}
.subscribe-container .subscribe {
  height: 30px;
  box-sizing: border-box;
  gap: 10px;
  padding: 0 20px;
}
.subscribe-container .subscribe,
.subscribe-container .subscribe form {
  display: flex;
  align-items: center;
}
.subscribe-container .subscribe .close-nav,
.subscribe-container .subscribe .open-nav {
  height: 30px;
  background-color: transparent;
  border: 0;
  display: flex;
  opacity: 1;
  padding: 0;
  transition: opacity 0.5s;
}
.subscribe-container .subscribe .close-nav:hover,
.subscribe-container .subscribe .open-nav:hover {
  opacity: 0.6;
}
.subscribe-container .subscribe .close-nav img,
.subscribe-container .subscribe .open-nav img {
  height: 100%;
  filter: invert(1);
}
.subscribe-container .subscribe nav {
  height: 100vh;
  width: 300px;
  background-color: rgba(128, 147, 177, 0.95);
  box-sizing: border-box;
  color: white;
  overflow-y: auto;
  transition: left 1s;
  padding-bottom: 100px;
  position: fixed;
  top: 0;
  z-index: 2;
}
.subscribe-container .subscribe nav.closed {
  left: -300px;
}
.subscribe-container .subscribe nav.open {
  left: 0;
}
.subscribe-container .subscribe nav h2 {
  color: #fff;
}
.subscribe-container .subscribe nav .close-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}
.subscribe-container .subscribe nav .nav-heading,
.subscribe-container .subscribe nav ul li a {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe-container .subscribe nav .nav-heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 30px 20px 10px;
  text-align: center;
}
.subscribe-container .subscribe nav .nav-heading a {
  display: flex;
}
.subscribe-container .subscribe nav .nav-heading a img {
  height: 26px;
  filter: invert(1);
  transition: opacity 0.5s;
}
.subscribe-container .subscribe nav .nav-heading a img:hover {
  opacity: 0.6;
}
.subscribe-container .subscribe nav ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.subscribe-container .subscribe nav ul li a {
  height: 100%;
  width: 100%;
  background-color: #e0efff;
  color: rgb(105, 138, 199);
  font-weight: 400;
  text-decoration: none;
  transition: background-color 1s, color 1s;
}
.subscribe-container .subscribe nav ul li a:hover {
  background-color: rgb(105, 138, 199);
  color: #e0efff;
  opacity: 1;
}
.subscribe-container .subscribe .subscribe-form {
  flex: 1;
  justify-content: flex-end;
  margin: 3px;
}
.subscribe-container .subscribe .social-icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  z-index: 1;
}
.subscribe-container .subscribe .social-icons a {
  display: flex;
}
.subscribe-container .subscribe .social-icons a img {
  height: 24px;
  filter: invert(100%);
  transition: opacity 0.5s;
}
.subscribe-container .subscribe .social-icons a img:hover {
  opacity: 0.6;
}/*# sourceMappingURL=header-menu.css.map */