@import url("https://api.fontshare.com/v2/css?f[]=switzer@300,500,700&display=swap");
body {
  min-height: 100vh;
  color: #222;
  display: flex;
  flex-direction: column;
  font-family: "Switzer", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 0;
  position: relative;
  z-index: 0;
}
body.preload * {
  transition: none !important;
}
body .date-posted {
  color: #999;
}
body form.single-line-form {
  display: flex;
  align-items: center;
  gap: 3px;
}
body form.single-line-form button,
body form.single-line-form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.9rem;
  line-height: 1.1rem;
  padding: 3px 5px;
}
body form.single-line-form button {
  width: 80px;
  background-color: #e0efff;
  color: rgb(105, 138, 199);
}
body form.single-line-form button:hover {
  background-color: #edf6ff;
  cursor: pointer;
}
body form.single-line-form input {
  max-width: 160px;
  width: 100%;
}
body main {
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  margin: auto;
  padding: 0 20px;
  position: relative;
  z-index: -1;
}
body main#gallery-main {
  max-width: 1200px;
  margin-bottom: 80px;
}
body main.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main #edit-post-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body main #edit-post-form button[type=submit] {
  width: 260px;
  background-color: lightblue;
  margin: auto;
}
body main #edit-post-form em {
  text-align: center;
}
body main #edit-post-form #image-preview {
  height: auto;
  max-height: 200px;
  max-width: 100%;
  width: auto;
  display: inherit;
  margin: auto;
}
body main #edit-post-form textarea {
  min-height: 250px;
  background-color: #eee;
  font-size: 1rem;
}
body main #edit-post-form button[type=submit],
body main .save-or-delete-buttons button {
  transition: opacity 0.5s;
}
body main #edit-post-form button[type=submit]:hover,
body main .save-or-delete-buttons button:hover {
  opacity: 0.6;
}
body main .save-or-delete-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
body main .save-or-delete-buttons button {
  width: 120px;
}
body main .save-or-delete-buttons button:first-child {
  background-color: lightblue;
}
body main .save-or-delete-buttons button:last-child {
  background-color: lightpink;
}
body a,
body button.button-link {
  color: rgb(105, 138, 199);
  transition: color 0.5s, opacity 0.5s;
}
body a:hover,
body button.button-link:hover {
  opacity: 0.6;
}
body button.button-link {
  background-color: transparent;
  border: 0;
  font-size: 18px;
  text-decoration: underline;
}
body button,
body input,
body .home-link {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: #eee;
  border: 1px solid #555;
  border-radius: 2px;
  box-sizing: border-box;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 2px 5px;
  text-decoration: none;
  transition: background-color 0.5s;
}
body button:hover,
body .home-link:hover {
  background-color: #ccc;
  cursor: pointer;
}
body .centered {
  text-align: center;
}
body code {
  font-size: 16px;
}
body pre {
  width: 100%;
  background-color: #edf6ff;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow-x: auto;
  padding: 10px;
}
body input::-moz-placeholder {
  color: #aaa;
}
body input::placeholder {
  color: #aaa;
}
body .pagination {
  height: 30px;
  align-items: center;
  background-color: #eee;
  color: #999;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-style: italic;
  font-weight: 300;
}
body .pagination a {
  text-decoration: none;
}
body .search-form input,
body .subscribe-container input {
  max-width: 150px;
}
body #sign-in-form {
  flex-direction: column;
  display: flex;
  gap: 10px;
}
body .unsubscribe {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: center;
}
body .unsubscribe p {
  margin: 0;
}
body .sticky-contact {
  height: 60px;
  width: 60px;
  background-color: #e0efff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
}
body .sticky-contact img {
  height: 50%;
  width: 50%;
  animation: flash 1s alternate infinite;
}
@keyframes flash {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
body footer {
  background-color: rgb(128, 147, 177);
  position: relative;
}
body footer #footer-container {
  height: 100px;
  max-width: 800px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
}
body footer #footer-container a {
  color: #fff;
}/*# sourceMappingURL=style.css.map */