#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-top: 60px;
}
#cards .card {
  height: 33.3333333333vw;
  width: 19.298245614vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 101%;
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 1.4035087719vw;
  box-sizing: border-box;
  justify-content: flex-end;
  margin: 0.5vh;
}
#cards .card.air, #cards .card.fire {
  background-color: #fff;
}
#cards .card.water, #cards .card.earth {
  background-color: #000;
}
#cards .card.fire .card-info,
#cards .card .suit-symbol.fire {
  background-color: #fca6a5;
}
#cards .card.water .card-info,
#cards .card .suit-symbol.water {
  background-color: #bde4ff;
}
#cards .card.air .card-info,
#cards .card .suit-symbol.air {
  background-color: #c1e1c1;
}
#cards .card.earth .card-info,
#cards .card .suit-symbol.earth {
  background-color: #fefcac;
}
#cards .card .suit-symbols {
  width: 100%;
  position: relative;
  flex: 1;
}
#cards .card .suit-symbols.double, #cards .card .suit-symbols.spirit-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
}
#cards .card .suit-symbols.double .suit-symbol.air, #cards .card .suit-symbols.double .suit-symbol.fire, #cards .card .suit-symbols.spirit-symbol .suit-symbol.air, #cards .card .suit-symbols.spirit-symbol .suit-symbol.fire {
  border-color: #fff;
}
#cards .card .suit-symbols.double .suit-symbol.water, #cards .card .suit-symbols.double .suit-symbol.earth, #cards .card .suit-symbols.spirit-symbol .suit-symbol.water, #cards .card .suit-symbols.spirit-symbol .suit-symbol.earth {
  border-color: #000;
}
#cards .card .suit-symbols.double .suit-symbol {
  height: 10.5263157895vw;
  width: 10.5263157895vw;
  border-color: #000;
  border: 0.8421052632vw solid black;
}
#cards .card .suit-symbols.double .suit-symbol.border-fire {
  box-shadow: 0 0 0 0.7368421053vw #fca6a5;
}
#cards .card .suit-symbols.double .suit-symbol.border-water {
  box-shadow: 0 0 0 0.7368421053vw #bde4ff;
}
#cards .card .suit-symbols.double .suit-symbol.border-air {
  box-shadow: 0 0 0 0.7368421053vw #c1e1c1;
}
#cards .card .suit-symbols.double .suit-symbol.border-earth {
  box-shadow: 0 0 0 0.7368421053vw #fefcac;
}
#cards .card .suit-symbols.spirit-symbol .suit-symbol {
  height: 5.6140350877vw;
  width: 5.6140350877vw;
  border-width: 0.5052631579vw;
  border-style: solid;
  position: relative;
  top: 4.4912280702vw;
}
#cards .card .suit-symbols.rank-2 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-2 .suit-symbol:nth-child(2) {
  margin-left: 38.7272727273%;
}
#cards .card .suit-symbols.rank-2 .suit-symbol:nth-child(1) {
  margin-top: 7.2727272727%;
}
#cards .card .suit-symbols.rank-2 .suit-symbol:nth-child(2) {
  margin-top: 94.5454545455%;
}
#cards .card .suit-symbols.rank-3 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-3 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-3 .suit-symbol:nth-child(3) {
  margin-left: 38.7272727273%;
}
#cards .card .suit-symbols.rank-3 .suit-symbol:nth-child(1) {
  margin-top: 7.2727272727%;
}
#cards .card .suit-symbols.rank-3 .suit-symbol:nth-child(2) {
  margin-top: 50.9090909091%;
}
#cards .card .suit-symbols.rank-3 .suit-symbol:nth-child(3) {
  margin-top: 94.5454545455%;
}
#cards .card .suit-symbols.rank-4 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-4 .suit-symbol:nth-child(2) {
  margin-left: 9.6363636364%;
}
#cards .card .suit-symbols.rank-4 .suit-symbol:nth-child(3), #cards .card .suit-symbols.rank-4 .suit-symbol:nth-child(4) {
  margin-left: 67.8181818182%;
}
#cards .card .suit-symbols.rank-4 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-4 .suit-symbol:nth-child(3) {
  margin-top: 7.2727272727%;
}
#cards .card .suit-symbols.rank-4 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-4 .suit-symbol:nth-child(4) {
  margin-top: 94.5454545455%;
}
#cards .card .suit-symbols.rank-5 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-5 .suit-symbol:nth-child(2) {
  margin-left: 9.6363636364%;
}
#cards .card .suit-symbols.rank-5 .suit-symbol:nth-child(4), #cards .card .suit-symbols.rank-5 .suit-symbol:nth-child(5) {
  margin-left: 67.8181818182%;
}
#cards .card .suit-symbols.rank-5 .suit-symbol:nth-child(3) {
  margin-left: 38.7272727273%;
}
#cards .card .suit-symbols.rank-5 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-5 .suit-symbol:nth-child(4) {
  margin-top: 7.2727272727%;
}
#cards .card .suit-symbols.rank-5 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-5 .suit-symbol:nth-child(5) {
  margin-top: 94.5454545455%;
}
#cards .card .suit-symbols.rank-5 .suit-symbol:nth-child(3) {
  margin-top: 50.9090909091%;
}
#cards .card .suit-symbols.rank-6 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-6 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-6 .suit-symbol:nth-child(3) {
  margin-left: 9.6363636364%;
}
#cards .card .suit-symbols.rank-6 .suit-symbol:nth-child(4), #cards .card .suit-symbols.rank-6 .suit-symbol:nth-child(5), #cards .card .suit-symbols.rank-6 .suit-symbol:nth-child(6) {
  margin-left: 67.8181818182%;
}
#cards .card .suit-symbols.rank-6 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-6 .suit-symbol:nth-child(4) {
  margin-top: 7.2727272727%;
}
#cards .card .suit-symbols.rank-6 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-6 .suit-symbol:nth-child(5) {
  margin-top: 50.9090909091%;
}
#cards .card .suit-symbols.rank-6 .suit-symbol:nth-child(3), #cards .card .suit-symbols.rank-6 .suit-symbol:nth-child(6) {
  margin-top: 94.5454545455%;
}
#cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(3) {
  margin-left: 9.6363636364%;
}
#cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(5), #cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(6), #cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(7) {
  margin-left: 67.8181818182%;
}
#cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(4) {
  margin-left: 38.7272727273%;
}
#cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(5) {
  margin-top: 7.2727272727%;
}
#cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(6) {
  margin-top: 50.9090909091%;
}
#cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(3), #cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(7) {
  margin-top: 94.5454545455%;
}
#cards .card .suit-symbols.rank-7 .suit-symbol:nth-child(4) {
  margin-top: 29.0909090909%;
}
#cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(3) {
  margin-left: 9.6363636364%;
}
#cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(6), #cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(7), #cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(8) {
  margin-left: 67.8181818182%;
}
#cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(4), #cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(5) {
  margin-left: 38.7272727273%;
}
#cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(6) {
  margin-top: 7.2727272727%;
}
#cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(7) {
  margin-top: 50.9090909091%;
}
#cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(3), #cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(8) {
  margin-top: 94.5454545455%;
}
#cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(4) {
  margin-top: 29.0909090909%;
}
#cards .card .suit-symbols.rank-8 .suit-symbol:nth-child(5) {
  margin-top: 72.7272727273%;
}
#cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(3), #cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(4) {
  margin-left: 9.6363636364%;
}
#cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(6), #cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(7), #cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(8), #cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(9) {
  margin-left: 67.8181818182%;
}
#cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(5) {
  margin-left: 38.7272727273%;
}
#cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(6) {
  margin-top: 7.2727272727%;
}
#cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(7) {
  margin-top: 36.3636363636%;
}
#cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(3), #cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(8) {
  margin-top: 65.4545454545%;
}
#cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(4), #cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(9) {
  margin-top: 94.5454545455%;
}
#cards .card .suit-symbols.rank-9 .suit-symbol:nth-child(5) {
  margin-top: 50.9090909091%;
}
#cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(3), #cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(4) {
  margin-left: 9.6363636364%;
}
#cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(7), #cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(8), #cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(9), #cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(10) {
  margin-left: 67.8181818182%;
}
#cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(5), #cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(6) {
  margin-left: 38.7272727273%;
}
#cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(1), #cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(7) {
  margin-top: 7.2727272727%;
}
#cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(2), #cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(8) {
  margin-top: 36.3636363636%;
}
#cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(3), #cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(9) {
  margin-top: 65.4545454545%;
}
#cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(4), #cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(10) {
  margin-top: 94.5454545455%;
}
#cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(5) {
  margin-top: 21.8181818182%;
}
#cards .card .suit-symbols.rank-10 .suit-symbol:nth-child(6) {
  margin-top: 80%;
}
#cards .card .suit-symbols .suit-symbol {
  height: 4.2105263158vw;
  width: 4.2105263158vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#cards .card .suit-symbols .suit-symbol.air img, #cards .card .suit-symbols .suit-symbol.fire img {
  filter: invert(100%);
  position: relative;
  top: -12%;
}
#cards .card .suit-symbols .suit-symbol img {
  height: 95%;
  width: 95%;
}
#cards .card .card-info {
  height: 25.6842105263%;
  width: 90%;
  border-radius: 1.0526315789vw;
  font-size: 1.1695906433vw;
  justify-content: center;
  margin: 5%;
  overflow: auto;
}
#cards .card .card-info p {
  line-height: 1.4035087719vw;
  margin: 0;
  text-align: center;
}
#cards .card,
#cards .card-info {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}/*# sourceMappingURL=cards.css.map */