@import "./colors.scss";

body {
    background-image: url(../../iching/assets/yin-yang-bg-min.png) !important;
    background-position: center !important;
    background-size: cover !important;

    header,
    main {
        text-align: center;
    }

    #reading {
        max-width: 700px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: auto;

        #casting-buttons {
            width: 250px;
            background-color: rgba(0, 0, 0, 0.65);
            border-radius: 10px;
            box-shadow: 0 0 4px 4px rgb(100 100 100 / 65%);
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: auto;
            padding: 20px;

            h1 {
                height: 40px;
                background-color: #333;
                border: 2px solid white;
                border-radius: 10px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 28px;
                margin: 0;
                text-align: center;
            }

            button {
                height: 40px;
                appearance: none;
                background-color: #69b7ba;
                border: 0;
                border-radius: 10px;
                box-sizing: border-box;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                padding: 0 15px;
                text-decoration: none;

                &:hover {
                    background-color: #fff;
                    color: #69b7ba;
                    cursor: pointer;
                    font-weight: bold;
                    opacity: 0.65;
                }
            }
        }

        .hexagrams,
        .texts {
            display: flex;
            gap: 40px;

            & > * {
                flex: 1;
            }
        }

        @media only screen and (max-width: 500px) {
            & {
                gap: 15px;

                .hexagrams,
                .texts {
                    gap: 10px;
                }
            }
        }

        $border-radius: 20px;

        .hexagrams,
        .reading-type,
        .texts {
            border-radius: $border-radius;
        }

        .texts table {
            $radius: $border-radius - 2px;

            text-align: center;

            thead {
                tr:first-child {
                    th:first-child {
                        border-top-left-radius: $radius;
                    }
                    th:last-child {
                        border-top-right-radius: $radius;
                    }
                }
            }

            tbody {
                tr:last-child {
                    td:first-child {
                        border-bottom-left-radius: $radius;
                    }
                    td:last-child {
                        border-bottom-right-radius: $radius;
                    }
                }
            }
        }

        .hexagrams {
            align-items: flex-end;
            background-color: rgba(255, 255, 255, 0.9);
            color: #000;
            padding: 10px;

            a {
                font-weight: bold;
            }

            .hexagram {
                .title {
                    margin-bottom: 10px;

                    p {
                        margin: 0;
                    }
                }

                .lines {
                    .line {
                        &,
                        .line-number {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .line-number {
                            height: 25px;
                            width: 25px;
                        }

                        .line-symbol {
                            $border-color: #aaa;
                            $border-width: 1px;

                            height: 15px;
                            width: 120px;
                            display: inline-block;

                            &.changing {
                                opacity: 0.5;
                            }

                            &.yang {
                                background-color: $heaven;
                                border: $border-width solid $border-color;

                                &.heaven {
                                    background-color: $heaven;
                                }
                                &.earth {
                                    background-color: $earth;
                                }
                                &.fire {
                                    background-color: $fire;
                                }
                                &.water {
                                    background-color: $water;
                                }
                                &.lake {
                                    background-color: $lake;
                                }
                                &.mountain {
                                    background-color: $mountain;
                                }
                                &.thunder {
                                    background-color: $thunder;
                                }
                                &.wind {
                                    background-color: $wind;
                                }
                            }

                            &.yin {
                                @mixin bg-image($color) {
                                    background-image: linear-gradient(
                                        to right,
                                        $color 40%,
                                        $border-color 40%,
                                        $border-color calc(40% + $border-width),
                                        transparent calc(40% + $border-width),
                                        transparent calc(60% - $border-width),
                                        $border-color calc(60% - $border-width),
                                        $border-color 60%,
                                        $color 60%
                                    );
                                }

                                @include bg-image($earth);
                                border-image: linear-gradient(
                                        to left,
                                        $border-color 40%,
                                        transparent 40%,
                                        transparent 60%,
                                        $border-color 60%
                                    )
                                    1;
                                border-width: $border-width;
                                border-style: solid;

                                &.heaven {
                                    @include bg-image($heaven);
                                }
                                &.earth {
                                    @include bg-image($earth);
                                }
                                &.fire {
                                    @include bg-image($fire);
                                }
                                &.water {
                                    @include bg-image($water);
                                }
                                &.lake {
                                    @include bg-image($lake);
                                }
                                &.mountain {
                                    @include bg-image($mountain);
                                }
                                &.thunder {
                                    @include bg-image($thunder);
                                }
                                &.wind {
                                    @include bg-image($wind);
                                }
                            }
                        }
                    }
                }
            }
        }

        .reading-type,
        .texts {
            background-color: rgba(50, 50, 50, 0.75);
        }

        .reading-type {
            padding: 10px;
        }

        .texts {
            align-items: stretch;

            table {
                border-collapse: separate;
                border-spacing: 4px;

                th,
                td {
                    min-width: 30px;
                    background-color: #000;
                    padding: 5px;
                    vertical-align: top;
                }

                td:nth-child(2) {
                    // text-align: left;
                }
            }
        }

        .flipping {
            height: 100vh;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;

            .coins-container {
                height: 100%;
                max-width: 700px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                margin: auto;

                .coin {
                    height: 100px;
                    width: 100px;
                    // animation: dynamicially assign delays with js;
                    position: relative;
                    bottom: -100px;
                    transform-style: preserve-3d;

                    .side {
                        height: 100%;
                        width: 100%;
                        background-size: cover;
                        border-radius: 50%;
                        position: absolute;

                        &.back {
                            background-image: url(../../iching/assets/coin-back-min.png);
                            transform: rotateZ(20deg) translateZ(0.1px);
                        }

                        &.front {
                            background-image: url(../../iching/assets/coin-front-min.png);
                            transform: rotateZ(20deg) translateZ(-0.1px);
                        }
                    }
                }

                @keyframes spin {
                    0% {
                        transform: rotateX(0deg);
                    }
                    50% {
                        transform: rotateX(180deg);
                    }
                    100% {
                        transform: rotate–•(360deg);
                    }
                }

                @keyframes toss {
                    0% {
                        bottom: -100px;
                    }
                    90% {
                        bottom: 50%;
                    }
                    100% {
                        bottom: 50%;
                    }
                }
            }
        }
    }
}
