@import "https://api.fontshare.com/v2/css?f[]=sharpie@800&f[]=switzer@400&display=swap";
// font-family: 'Sharpie', sans-serif;
// font-family: 'Switzer', sans-serif;

body {
    min-height: 100vh;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: "Switzer", Arial, Helvetica, sans-serif;
    margin: 0;

    h1,
    h2,
    h3 {
        font-family: "Sharpie", Arial, Helvetica, sans-serif;
    }

    a,
    span.anchor-jump,
    button.button-link {
        color: #69b7ba;

        &:hover {
            cursor: pointer;
            opacity: 0.65;
        }
    }

    button.button-link {
        appearance: none;
        background-color: transparent;
        border: 0;
        font-size: 1rem;
        padding: 0;
        text-decoration: underline;
    }

    span.anchor-jump {
        text-decoration: underline;
    }

    details {
        border-bottom: 1px solid white;
        padding: 20px;

        h3 {
            font-family: "Switzer", Arial, Helvetica, sans-serif;
        }

        summary,
        .subsection {
            font-weight: bold;
        }

        summary {
            &:hover {
                cursor: pointer;
            }

            &::marker {
                color: #69b7ba;
            }

            h3 {
                display: inline-block;
                padding-left: 12px;
            }
        }

        .subsection,
        p {
            margin-left: 28px;
        }
    }

    header,
    main {
        & > * {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    header {
        background-color: #222;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        padding: 30px 20px 20px;
        position: relative;
        z-index: 0;

        & > * {
            margin: 0;
            text-align: center;
        }

        h1 {
            line-height: 1.5rem;
        }

        h2 {
            line-height: 1rem;
        }

        #header-links {
            position: relative;
            top: -4px;
        }
    }

    main {
        flex: 1;
        padding: 50px 20px;
        position: relative;
        z-index: 1;
    }

    footer {
        background-color: rgba(0, 0, 0, 0.65);
        padding: 4px;
        text-align: center;

        a {
            font-weight: bold;
        }
    }
}
