<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/header-menu.css" />
        <title>Page Not Found &mdash; Alec Fernandes</title>
        <style>
            h1 {
                line-height: 2.2rem;
            }
        </style>
    </head>
    <body class="preload">
        {{> smallheader}}
        {{> navmenu}}
        <main class="centered-content">
            <h1 class="centered">404 &mdash; Page Not Found!</h1>
        </main>
        {{> stickycontact}}
        {{> footer}}
        <script src="/scripts.js"></script>
        <script src="/bundle.js"></script>
        <script>
            stopFixedScrollAboveFooter();

            function stopFixedScrollAboveFooter() {
                stopFixedScrollAboveFooterHelper();
                window.onscroll = stopFixedScrollAboveFooterHelper;
            }

            function stopFixedScrollAboveFooterHelper() {
                const {scrollY: scrollPos, innerHeight: screenHeight} = window,
                    bodyHeight = document.body.scrollHeight,
                    footerHeight = document.querySelector("footer").offsetHeight,
                    isRemoveFixed = scrollPos + screenHeight > bodyHeight - footerHeight,
                    fixedElem = document.querySelector(".sticky-contact");
                fixedElem.style.position = isRemoveFixed ? "absolute" : "fixed";
                fixedElem.style.bottom = isRemoveFixed ? `${footerHeight}px` : 0;
            }
        </script>
    </body>
</html>
