<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Contact Me &mdash; Alec Fernandes</title>

        <meta name="type" property="og:type" content="website" />
        <meta
            name="title"
            property="og:title"
            content="Contact Me &mdash; Alec Fernandes"
        />
        <meta
            name="url"
            property="og:url"
            content="https://fern.haus/contact"
        />
        <meta
            name="description"
            property="og:description"
            content="Fill out this form to let me know your website needs."
        />
        <meta
            name="image"
            property="og:image"
            content="https://fern.haus/assets/ocean-gliderport-background.jpg"
        />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@alec4nandes" />
        <meta
            name="twitter:title"
            content="Contact Me &mdash; Alec Fernandes"
        />
        <meta
            name="twitter:description"
            content="Fill out this form to let me know your website needs."
        />
        <meta
            name="twitter:image"
            content="https://fern.haus/assets/ocean-gliderport-background.jpg"
        />

        <link rel="icon" type="image/x-icon" href="/assets/logo/favicon.ico" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/header-menu.css" />
        <link rel="stylesheet" href="/css/contact.css" />
    </head>
    <body class="preload">
        {{> smallheader}}
        {{> navmenu}}
        <main>
            <h1>Need a website?</h1>
            {{#if confirm}}
                <p>{{{confirm}}}</p>
                <p><a href="/">view home page</a></p>
            {{else}}
                <p>
                    Please fill out the form below, or send me a summary of what
                    you need at
                    <a href="mailto:al@fern.haus">al@fern.haus</a>.
                </p>
                <form action="/contact-thanks" id="contact-form">
                    <label style="margin: auto">
                        email:
                        <input name="email" type="email" required />
                    </label>

                    <ol>
                        <li>
                            Type of website(s):
                            <ul>
                                <li>
                                    <label>
                                        <input
                                            name="site-type"
                                            value="single-page-site"
                                            type="radio"
                                        />
                                        single page site
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input
                                            name="site-type"
                                            value="multiple-pages-single-site"
                                            type="radio"
                                        />
                                        multiple pages for single site
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input
                                            name="site-type"
                                            value="multiple-sites"
                                            type="radio"
                                        />
                                        multiple sites
                                    </label>
                                </li>
                            </ul>
                        </li>

                        <li>
                            Client already has:
                            <ul>
                                <li>
                                    <label>
                                        <input
                                            name="domain-name"
                                            type="checkbox"
                                        />
                                        domain name
                                        <em>(ex. amazingbusiness.com)</em>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="hosting" type="checkbox" />
                                        hosting
                                        <em>(ex. Bluehost, GoDaddy, Firebase
                                            Hosting, etc.)</em>
                                    </label>
                                    <label class="tabbed">
                                        current or desired host:
                                        <input
                                            name="current-or-desired-host"
                                            type="text"
                                        />
                                    </label>
                                </li>
                                <p>images</p>
                                <li>
                                    <label>
                                        <input
                                            name="images"
                                            value="all-images"
                                            type="radio"
                                        />
                                        all images
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input
                                            name="images"
                                            value="some-images"
                                            type="radio"
                                        />
                                        some images
                                    </label>
                                </li>
                                <p>text copy</p>
                                <li>
                                    <label>
                                        <input
                                            name="text-copy"
                                            value="all-copy"
                                            type="radio"
                                        />
                                        all text copy
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input
                                            name="text-copy"
                                            value="some-copy"
                                            type="radio"
                                        />
                                        some text copy
                                    </label>
                                </li>
                            </ul>
                        </li>

                        <li>Client's site needs:
                            <ul>
                                <li>
                                    <label>
                                        <input name="landing" type="checkbox" />
                                        landing page or section
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="blog" type="checkbox" />
                                        blog
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input
                                            name="online-shop"
                                            type="checkbox"
                                        />
                                        online shop
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input
                                            name="user-signup-and-login"
                                            type="checkbox"
                                        />
                                        user signup and login
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="chat" type="checkbox" />
                                        chat feature
                                    </label>
                                </li>
                                <p>embedded</p>
                                <li>
                                    <label>
                                        <input
                                            name="video-or-audio"
                                            type="checkbox"
                                        />
                                        video and/or audio
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input
                                            name="social-media-posts"
                                            type="checkbox"
                                        />
                                        social media posts
                                    </label>
                                </li>
                                <p>About</p>
                                <li>
                                    <label>
                                        <input
                                            name="about"
                                            value="about-page"
                                            type="radio"
                                        />
                                        "About" page
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input
                                            name="about"
                                            value="about-section"
                                            type="radio"
                                        />
                                        "About" section
                                    </label>
                                    <label class="tabbed">
                                        pages:
                                        <input
                                            name="about-section-on-pages"
                                            type="text"
                                        />
                                    </label>
                                </li>
                                <p>Contact</p>
                                <li>
                                    <label>
                                        <input
                                            name="contact-form"
                                            type="checkbox"
                                        />
                                        email contact form
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input
                                            name="contact"
                                            value="contact-page"
                                            type="radio"
                                        />
                                        "Contact" page
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input
                                            name="contact"
                                            value="contact-section"
                                            type="radio"
                                        />
                                        "Contact" section
                                    </label>
                                    <label class="tabbed">
                                        pages:
                                        <input
                                            name="contact-section-on-pages"
                                            type="text"
                                        />
                                    </label>
                                </li>
                                <p>miscellaneous</p>
                                <li>
                                    <label for="other-pages">
                                        other pages (please list):
                                    </label>
                                    <input
                                        id="other-pages"
                                        name="other-pages"
                                        type="text"
                                    />
                                </li>
                                <li>
                                    <label for="existing-web-apps">
                                        existing web apps (please list):
                                    </label>
                                    <input
                                        id="existing-web-apps"
                                        name="existing-web-apps"
                                        type="text"
                                    />
                                </li>
                                <li>
                                    <label for="custom-web-apps">
                                        custom web apps (please describe):
                                    </label>
                                    <input
                                        id="custom-web-apps"
                                        name="custom-web-apps"
                                        type="text"
                                    />
                                </li>
                            </ul>
                        </li>

                        <li>
                            Site maintenance:
                            <ul>
                                <li>
                                    <label>
                                        <input
                                            name="maintenance"
                                            value="one-time-setup"
                                            type="radio"
                                        />
                                        one-time setup
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input
                                            name="maintenance"
                                            value="ongoing-maintenance"
                                            type="radio"
                                        />
                                        ongoing maintenance
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ol>
                    <button type="submit">contact me</button>
                </form>
            {{/if}}
        </main>
        {{> footer}}
        <script src="/scripts.js"></script>
        <script src="/bundle.js"></script>
    </body>
</html>