<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Graphic Design &mdash; Alec Fernandes</title>
        <meta name="type" property="og:type" content="website" />
        <meta
            name="title"
            property="og:title"
            content="Graphic Design &mdash; Alec Fernandes"
        />
        <meta
            name="url"
            property="og:url"
            content="https://fern.haus/gallery"
        />
        <meta
            name="description"
            property="og:description"
            content="A portfolio of designs for print and digital media."
        />
        <meta
            name="image"
            property="og:image"
            content="https://fern.haus/gallery/images/name-landing-page-min.png"
        />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@alec4nandes" />
        <meta
            name="twitter:title"
            content="Graphic Design &mdash; Alec Fernandes"
        />
        <meta
            name="twitter:description"
            content="A portfolio of designs for print and digital media."
        />
        <meta
            name="twitter:image"
            content="https://fern.haus/gallery/images/name-landing-page-min.png"
        />
        <link rel="icon" type="image/x-icon" href="/assets/logo/favicon.ico" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/header-menu.css" />
        <link rel="stylesheet" href="/css/gallery.css" />
    </head>
    <body>
        {{> smallheader}}
        {{> navmenu}}
        <main id="gallery-main">
            <section class="heading centered">
                <h1>Graphic Design</h1>
                <p>
                    To see more of my work, please visit
                    <a href="/">fern.haus</a>.
                </p>
            </section>
            <div class="gallery">
                <div class="pair">
                    <div class="container"></div>
                    <div class="container"></div>
                </div>
                <div class="banner">
                    <div class="container"></div>
                </div>
                <div class="screenshot">
                    <div class="container"></div>
                </div>
                <div class="page">
                    <div class="container"></div>
                </div>
                <div class="page">
                    <div class="container"></div>
                </div>
                <div class="screenshot">
                    <div class="container"></div>
                </div>
                <div class="screenshot">
                    <div class="container"></div>
                </div>
                <div class="page">
                    <div class="container"></div>
                </div>
                <div class="featured-square">
                    <div class="container"></div>
                </div>
                <div class="featured-square">
                    <div class="container"></div>
                </div>
                <div class="pair">
                    <div class="container"></div>
                    <div class="container"></div>
                </div>
                <div class="page">
                    <div class="container"></div>
                </div>
                <div class="page">
                    <div class="container"></div>
                </div>
                <div class="page">
                    <div class="container"></div>
                </div>
                <div class="pair">
                    <div class="container"></div>
                    <div class="container"></div>
                </div>
                <div class="page">
                    <div class="container"></div>
                </div>
                <div class="page">
                    <div class="container"></div>
                </div>
                <div class="screenshot">
                    <div class="container"></div>
                </div>
            </div>
        </main>
        <script src="/gallery.js"></script>
        <script src="/scripts.js"></script>
        {{> footer}}
    </body>
</html>