<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/header-menu.css" />
        <link rel="stylesheet" href="/css/article.css" />
        {{{meta_tags}}}
    </head>
    <body class="preload">
        <header class="home">
            <div class="top half">
                <h1>Alec Fernandes</h1>
                <h2>modern mindful code</h2>
            </div>
            <div class="bottom half">
                <nav>
                    <h3>tags:
                        {{#each top_tags}}{{#if @index}} // {{/if}}<a
                                href="/search/?tag={{this}}"
                            >{{this}}</a>{{/each}}
                    </h3>
                </nav>
                <div class="search-container">
                    <form class="search-form" action="/search/">
                        <input type="text" name="query" /><button>
                            search
                        </button>
                    </form>
                    <div class="scroll-for-more"><span>▼</span></div>
                </div>
            </div>
        </header>
        {{> navmenu}}
        <main>
{{!-- no white space before this partial in case there are
preformatted <xmp> code blocks: --}}
{{> multipost}}
        </main>
        <footer>
            <a href="/">home</a>
            <a href="/admin">admin</a>
        </footer>
        <script src="/scripts.js"></script>
        <script src="/bundle.js"></script>
    </body>
</html>