<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{> metatags}}
        <link rel="icon" type="image/x-icon" href="/assets/logo/favicon.ico" />
        <link rel="stylesheet" href="/iching/css/style.css" />
        <link rel="stylesheet" href="/iching/css/reading.css" />
        <style>
            #flip-lines td {border: 1px solid black;}
        </style>
    </head>
    <body>
        <header>
            <h1>I-Ching</h1>
            <h2>Cast Lines</h2>
            <div id="header-links">
                <a href="/iching">home</a>
                <span id="visible-reading" style="display: none;">
                    &nbsp;&mdash;&nbsp;
                    <button id="share" class="button-link">share reading</button>
                    &nbsp;&mdash;&nbsp;
                    <a href="/iching/cast">get another reading</a>
                </span>
            </div>
        </header>
        <main>
            <div id="reading">
                <div id="casting-buttons">
                    <button id="flip-button" onclick="flipHandler()">flip coins
                        (6 lines left)</button>
                    <button
                        id="flip-all-button"
                        onclick="flipHandler(true)"
                    >flip coins all at once</button>
                    <button id="flip-none-button" onclick="noFlipHandler()">go
                        straight to reading</button>
                </div>
            </div>
        </main>
        <footer>&copy; <a href="/">Alec Fernandes</a> 2023</footer>
        <script src="/iching/scripts/display.js" type="module"></script>
    </body>
</html>