@import "https://api.fontshare.com/v2/css?f[]=switzer@400&f[]=khand@700&display=swap";
body {
  min-height: 100vh;
  background-image: linear-gradient(180deg, #0f0f0d 0%, #0e0e0c 58.11%, #6e3708 100%);
  color: #fae2cd;
  font-family: "Switzer";
  font-size: 16px;
  margin: 0;
  text-align: center;
}
body a {
  color: #d27e38;
}
body a:hover {
  color: #fff;
  text-decoration: none;
}
body h1,
body h2 {
  color: #fdd3ac;
  font-family: "Khand";
  font-weight: 700;
  margin: 0;
  text-shadow: 0px 0px 10px #d27e38;
}
body h1 {
  font-size: 55px;
}
body h2 {
  font-size: 32px;
}
body header,
body main {
  padding: 15px;
}
body .line {
  height: 1.8px;
  background-color: #fdd3ac;
  box-shadow: 0px 0px 8px 0.25px #ffcf76;
}
body header {
  height: 315px;
  background-image: url(../assets/moons-min.png);
  background-position: top -40px center;
  background-repeat: no-repeat;
  background-size: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body header #lines {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  margin-top: 2px;
}
body header #lines .line:nth-child(1) {
  width: 300px;
}
body header #lines .line:nth-child(2) {
  width: 200px;
}
body header #lines .line:nth-child(3) {
  width: 100px;
}
@media only screen and (max-width: 750px) {
  body header {
    height: 225px;
    background-position: top -35px center;
    background-size: 800px;
  }
}
@media only screen and (max-width: 480px) {
  body header {
    height: 150px;
    background-position: top -30px center;
    background-size: 550px;
  }
  body header h1 {
    font-size: 36px;
    line-height: 48px;
  }
}
body main {
  max-width: 600px;
  margin: auto;
}
body main button {
  height: 30px;
  min-width: 200px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #d27e38;
  border: 0;
  color: #492200;
  font: 18px "Khand", Arial, sans-serif;
  padding: 0;
}
body main button:hover {
  background-color: #492200;
  color: #fae2cd;
  cursor: pointer;
}
body main ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: left;
}
body main table {
  width: 100%;
  background-color: #d27e38;
  border-spacing: 4px;
  box-shadow: 0px 0px 20px rgba(253, 211, 172, 0.75);
  color: #492200;
  margin: 50px auto;
}
body main table button {
  width: 100%;
}
body main table tr th,
body main table tr td {
  padding: 3px;
}
body main table tr th {
  background-color: #fdd3ac;
}
body main table tr th:first-child {
  width: 115px;
}
body main table tr td {
  background-color: #fae2cd;
}
body main pre {
  max-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: none;
  margin: 50px auto 0;
  overflow: auto;
  padding: 15px;
  text-align: left;
}
body footer {
  height: 100px;
  background-color: #0e0e0c;
  color: #fae2cd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  margin-top: 50px;
}
body footer hr {
  width: 200px;
  border: 0;
}
body footer p {
  margin: 0;
}/*# sourceMappingURL=style.css.map */