<header class="small-header-container">
    <div class="small-header">
        <h1><a href="/">Alec Fernandes</a></h1>
        <form class="search-form single-line-form" action="/search/">
            <input type="text" name="query" /><button>search</button>
        </form>
    </div>
</header>